.star {
  position: relative;
}
.star:not(.half) {
  min-height: 20px;
  min-width: 20px;
  cursor: pointer;
  display: inline-block;
}

.star.active {
  color: inherit;
}

.star.half {
    height: inherit;
    font-size: inherit;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    overflow: hidden;

}
