Rate us
<ng-rating-bar [(value)]="value" [ratingCount]="ratingCount" colorActive="red" colorDefault="gray"></ng-rating-bar>

<p>
  Selected value {{ value }}
</p>

<p>
  Reactive form
</p>
<!--<div>
<ng-rating-bar
  [value]="value"
  (valueChange)="onChange($event)"
  [ratingCount]="ratingCount"
></ng-rating-bar>
<p *ngIf="myForm.get('rating').touched && myForm.get('rating').hasError('required')">Field is required</p>

<p>
  <button (click)="submitForm()">Submit</button>
</p>
</div>
-->
<!-- <div>
    <form [formGroup]="myForm">
      <ng-rating-bar
        [control]="myForm.get('rating')"
        [ratingCount]="ratingCount"
      ></ng-rating-bar>
      <p *ngIf="myForm.get('rating').touched && myForm.get('rating').hasError('required')">
        Field is required
      </p>

  <p>
    <button (click)="submitForm()">Submit</button>
  </p>
  </form>
  </div>

  <h2>
    Hover
  </h2>
  Value is:
  <b
    [class.excellent]="hoverValue === 7"
    [class.good]="hoverValue > 4 && hoverValue < 7"
    [class.notBad]="hoverValue > 2 && hoverValue <= 4 "
    [class.bad]="hoverValue <= 2"
  >
    {{ hoverValue }}
  </b>
  <p>

    <ng-rating-bar
      [(value)]="value2"
      (hoverChange)="hoverValue = $event"
      [ratingCount]="7"
      [resetAble]="true"
    ></ng-rating-bar>
  </p>

  <h2>Disabled</h2>
  <p>

    <ng-rating-bar
      [value]="5"
      [ratingCount]="7"
      [disabled]="true"
    ></ng-rating-bar>
  </p>

-->
  <p>
    <ng-rating-bar
      [value]="halfValue"
      (valueChange)="halfChange($event)"
      [ratingCount]="10"
    ></ng-rating-bar>
  </p>
  <p>Value is {{ halfValue }}</p>
